@CHARSET "ISO-8859-1";
*{
	margin: 0px;
	padding: 0px;
}
.conten2{
	margin:20px auto;
	text-align: center;
	width: 400px;
	height: 300px;
	border: 1px solid red;
	padding: 20px;
}
.conten2 h1{
	padding-top: 10px;
	color: green;
	
}
.conten2 div.images{
	margin: 20px 0px;
	text-align: center;
	
}
.conten2 div.images{
	padding-top: 30px;
}
.conten2 div.images a{
	background-color: black;
	padding: 3px 2px;
	color: white;
	display: inline-block;
	text-decoration: none;
}