@CHARSET "ISO-8859-1";
 *{
	margin: 0px;
	padding: 0px;
}
.content{
	margin: 20px auto;
	width: 700px;
	border: 1px solid #999;
	padding: 10px;
}
.content h1{
	color: red;
	text-align: center;
}
.content div.row{
	padding-top: 20px;
}
.content div.row span{
	display: inline-block;
	width: 250px;
	text-align: right;
}
.content div.row input[type = text]{
	padding: 3px 5px;
	
}
.content div.row input[type = submit]{
	padding: 3px 5px;
	display: block;
	margin: 0px auto 20px auto;	
}
.content div.row p{
	font-weight: bold;
	font-size: 32px;
	text-align: center;
}
.content div.result{
	margin-left: 50px;
	text-align: center;
}
.content div.result p img{
	
}
.content div.result p {
	text-align: center;
	
}
.content div.result p span{
	font-style: italic;
